<p id="notice"><%= notice %></p>
<div class="container text-center m-auto">
  <h1 class="text-center">Reservations</h1>
  <hr>
  <div class="row m-4 rounded text-center">
    <div class="col-md-4 rounded-start border-left">
      <h5> Room<h5>
    </div>
    <div class="col-md-5">
      <h5> Subject [attendees] </h5>
    </div>
    <div class="col-md-3">
      <h5> Date </h5>
    </div>
  </div>
  <% @reservations.order(:t_beginning).each do |reservation| %>
    <%= link_to edit_reservation_path(reservation), class: 'text-decoration-none' do %>
      <div class="card bg-light m-2">
        <div class="card-body p-0">
          <div class="row m-0 p-0 rounded text-center">
            <div class="col-md-4 p-3 m-0 rounded-start border-left">
              <h5 class=""><%= reservation.subject %> <%= reservation.room.name %><h5>
            </div>
            <div class="col-md-5 p-3 bg-white">
              <h5><span class=""><%= reservation.subject %></span> <span class="badge badge-pill badge-info bg-info ms-5"><%= reservation.attendees %> attendees</span></h5>
            </div>
            <div class="col-md-3 p-4 bg-light m-auto rounded">
            <% if reservation.t_beginning < Date.tomorrow %>
                <h5 class="text-dark text-center"><%= reservation.t_beginning.strftime("%H:%M") %> - <%= reservation.t_ending.strftime("%H:%M") %></h5>
            <% else %>
                <h5 class="text-dark text-center">In <%= (reservation.t_beginning.to_date - Date.today).to_i %> days...</h5>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>

<%= link_to 'New Reservation',  new_reservation_path %>
