<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room_id %>
</p>

<p>
  <strong>T beginning:</strong>
  <%= @reservation.t_beginning %>
</p>

<p>
  <strong>T ending:</strong>
  <%= @reservation.t_ending %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @reservation.attendees %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @reservation.subject %>
</p>

<p>
  <strong>Reservation code:</strong>
  <%= @reservation.reservation_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
