<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="room-field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="room-field">
    <%= form.label :is_available %>
    <%= form.number_field :is_available %>
  </div>

  <div class="room-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="room-field">
    <%= form.label :location %>
    <%= form.text_area :location %>
  </div>
  <div class="room-elements">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Element</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <%= render 'handicap' %>
          </th>
          <td class="mt-2 text-dark"><%= form.label :is_accessible %></td>
          <td><%= form.check_box :is_accessible %></td>
        </tr>
        <tr>
          <th scope="row">
            <%= render 'projector' %>
          </th>
          <td class="mt-2 text-dark"><%= form.label :has_projector %></td>
          <td><%= form.check_box :has_projector %></td>
        </tr>
  <!--       <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
        </tr> -->
        <tr>
          <th scope="row">
            <%= render 'audio_system' %>
          </th>
          <td class="mt-2 text-dark"><%= form.label :audio_system %></td>
          <td><%= form.check_box :audio_system %></td>
        </tr>
        <tr>
          <th scope="row">
            <%= render 'desk' %>
          </th>
          <td class="mt-2 text-dark"><%= form.label :has_desk %></td>
          <td><%= form.check_box :had_desk %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions text-center">
    <%= form.submit class: "btn btn-primary btn-lg p-2 m-3"  %>
  </div>
<% end %>
