<div class="form-group">
  <%= form_with model: @new_reservation do |form| %> 

  <div class="field">
    <%= form.label :beginning %>
    <%= form.datetime_select :t_beginning %>
  </div>

  <div class="field">
    <%= form.label :ending %>
    <%= form.datetime_select :t_ending %>
  </div>

  <div class="field">
    <%= form.label :attendees %>
    <%= form.number_field :attendees %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :reservation_code %>
    <%= form.text_field :reservation_code %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  
  <%= form.hidden_field :room_id %>

	<%= form.submit class: "btn btn-primary btn-block mt-3" %>
  <% end %>
</div>