<p id="notice"><%= notice %></p>

<div class="mb-1 mt-1" id="collapseExample">
    <div class="p-2">
      <div class="container">
        <%= form_tag(search_rooms_path, method: "get", remote: true) do %>
          <div class="row">
            <h1 class="text-center">Magic Filter</h1>
            <div class="input-group text-center">
              <div class="col-auto m-2">
                Capacity
                <%= number_field_tag :capacity, '', class: 'form-control', placeholder: 'Capacity...', onkeydown:'clickSubmitPlayers();' %>
              </div>
              <div class="col-md-3 col-sm-4 m-2">
                Start Time
                <%= date_field_tag :start_date, '', class: 'form-control', onkeydown:'clickSubmitPlayers();' %>
              </div>
              <div class="col-md-3 col-sm-4 m-2">
                End Time
                <%= date_field_tag :end_date, '', class: 'form-control', onkeydown:'clickSubmitPlayers();' %>
              </div>
              <div class="col-auto m-2">
                Prority Access?
                <br>
                <%= check_box_tag :is_accessible, '', class: 'form-control', onkeydown:'clickSubmitPlayers();' %>
              </div>
                  <!--<span class="input-group-text" id="basic-addon1"> Category </span>
                    <= select_tag :filter, options_for_select(Category.order(:title).reverse_order.map { |cat| [cat.title, cat.id] }), include_blank: true, class: "custom-select", onchange:'clickSubmitPlayers();'>-->
              <!--<%= submit_tag "Search", class: "d-none", id: "search_submit" %> -->
              <%= submit_tag "Search", class: "btn btn-primary", id: "search_submit" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% @rooms.each do |room| %>
  <%= link_to edit_room_path(room.id), class: 'text-decoration-none' do %>
    <div class="card mb-3 post-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <% if room.is_available %>
                <span class="badge badge-primary text-primary mb-3 bg-info"> Available until ... </span>
              <% else %>
                <span class="badge badge-secondary text-danger mb-3 bg-warning"> Unavailable until ... </span>
              <% end %>
              <span class="badge badge-secondary mb-3"> <%= room.capacity %> </span>
              <h5 class="card-title mb-2 text-dark"> <%= room.name %> </h5>
              <p class="text-secondary mb-0"> Location: <%= room.location %> </p>
              <p class="text-secondary mb-0"> Is Accessible? <%= room.is_accessible ? "Yes" : "No" %> </p>
            </div>
            <div class="col-md-10">
              <% room.reservations.each do |reservation| %>
                <hr>
                <div class="row">
                  <div class="col-8">
                    <h6><%= reservation.subject %></h6>
                  </div>
                  <div class="col-4">
                    <span class="badge badge-secondary text-primay bg-secondary">
                      <%= reservation.start.strftime("%d/%m/%y") %> - <%= reservation.end.strftime("%d/%m/%y") %>
                    </span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
<br>
<%= link_to 'New Room', new_room_path %>
