<%= javascript_pack_tag 'room' %>
<span id="notice"><%= notice %></span>
<div class="container bg-transp" id="rooms-container">
  <div class="p-2">
    <div class="mb-1 mt-1" id="collapseExample">
      <div class="p-2" id="filter-room">
        <%= form_tag(search_rooms_path, method: "get", remote: true) do %>
          <h1 class="text-center display-4">Magic Filter</h1>
          <h6 class="text-center">Search for the best room avaliable (relax & let us do our magic)</h6>
          <hr>
          <div class="row">
            <div class="input-group text-center">
              <div class="col-auto m-auto">
                <h5>Capacity</h5>
                <%= number_field_tag :capacity, '', class: 'form-control', placeholder: 'Capacity...', onkeyup:'clickSubmitFilter();', onchange:'clickSubmitFilter();' %>
              </div>
              <div class="col-auto m-auto">
                <span class="icon-container">
                  <p >Handicap</p>
                  <label for="is_accessible"><%= render 'handicap' %></label>
                </span>
                <%= check_box_tag(:is_accessible, '', checked = false, onchange:'clickSubmitFilter();')%>
              </div>
              <div class="col-auto m-auto">
                <span class="icon-container">
                  <p>Projector</p>
                  <label for="need_projector"><%= render 'projector' %></label>
                </span>
                <%= check_box_tag(:need_projector, '', checked = false, onchange:'clickSubmitFilter();')%>
              </div>
              <div class="col-auto m-auto">
                <span class="icon-container">
                  <p>Audio System</p>
                  <label for="audio_system"><%= render 'audio_system' %></label>
                </span>
                <%= check_box_tag(:audio_system, '', checked = false, onchange:'clickSubmitFilter();')%>
              </div>
               <div class="col-auto m-auto">
                <span class="icon-container">
                  <p>Desk</p>
                  <label for="had_desk"><%= render 'desk' %></label>
                </span>
                <%= check_box_tag(:had_desk, '', checked = false, onchange:'clickSubmitFilter();')%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-group text-center">
              <div class="col-12 m-2">
                <h5>Start Time</h5>
                <%= datetime_field_tag :start_date, '', class: 'form-control', onchange:'clickSubmitFilter();' %>
              </div>
<!--               <div class="field">
                          <= form.label :date >
                          <= form.date_select :date, {}, class: "form-control">
                        </div> -->
              <div class="col-12 m-2">
                <h5>End Time</h5> 
                <%= datetime_field_tag :end_date, '', class: 'form-control', onchange:'clickSubmitFilter();' %>
              </div>
            </div>
          </div>
          <%= submit_tag "Search", class: "d-none", id: "search_submit" %> 
        <% end %>
      </div>
    </div>
    <hr>
    <div id="rooms-containers">
      <%= render "rooms", rooms: @rooms %>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 offset-md-4 col-sm-2 offset-sm-2">
        <div class="d-flex justify-content-around">
          <% if @page.nil? || @page <= 0 %>
            <button type="button" class="btn btn-lg btn-secondary disabled"> - </button>
          <% else %>
            <%= link_to rooms_path(page: @page - 1), class: "btn-lg btn-primary" do %>
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 1280.000000 1280.000000">
              <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" stroke="none">
              <path style="fill:#ffffff;" d="M9145 12781 c-80 -23 -138 -54 -210 -112 -33 -26 -1379 -1368 -2991
              -2981 -2756 -2758 -2933 -2937 -2967 -3004 -51 -99 -68 -172 -68 -284 0 -140
              36 -252 114 -355 45 -59 5852 -5869 5917 -5919 115 -90 222 -126 371 -126 171
              0 291 50 409 169 123 124 171 239 172 412 0 111 -16 180 -70 284 -33 66 -208
              243 -2766 2803 l-2731 2732 2731 2733 c2558 2559 2733 2736 2766 2802 54 104
              70 173 70 284 -1 173 -49 288 -172 412 -80 81 -158 127 -260 154 -76 20 -239
              18 -315 -4z"/>
              </g>
              </svg>
            <% end %>
          <% end %>
          <% if not @last.nil? and @last %>
            <button type="button" class="btn btn-lg btn-secondary disabled"> - </button>
          <% else %>
            <%= link_to rooms_path(page: @page + 1), class: "btn-lg btn-primary text-ligth" do %>
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve" width="30">
              <path style="fill:#ffffff;" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                C255,161.018,253.42,157.202,250.606,154.389z"/>
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to 'New Room', new_room_path, class: 'btn btn-primary btn-lg mt-4'%>
    </div>
  </div>
</div>

<script> 
function clickSubmitFilter() {
  $("#search_submit").trigger("click");
}
function schedule_popup(id) {
  let popup = document.getElementById("schedule-" + id);
  popup.style.display = "block"
}

function schedule_close_popup(id) {
  let popup = document.getElementById("schedule-" + id);
  popup.style.display = "none"
}
</script>